
.main {
	background-color: #D9D9D9;
}


.top {
	
	font-size: 1.5em;
	padding-top: 5%;
	color: #4484CE;
	padding-bottom: 2%;
}

.first {
	font-family: impact;
	

}






.middle {

	height: 65%;
	width: 65%;
	background-color: black;
	color: #D9D9D9;


}


.mid_one {
	font-size: .6em;
}

.mid_two {
	font-size: .6em;
}

.mid_three{
	font-size: .6em;
}

.mid_four {
	font-size: .6em;
}